spring:
  datasource:
    url: jdbc:mysql://localhost:3306/nexthero?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=GMT%2B8
    type: com.alibaba.druid.pool.DruidDataSource
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
    serialization:
      fail-on-empty-beans: false
server:
  port: 8080
  ssl:
    key-store: tomcat.keystore
    key-alias: tomcat
    enabled: true
    key-store-password: 123456
    key-store-type: JKS
